<template name="homelayout">
	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
	</head>

	{{> header}}
	<body id="top">
		<main>
		<div class="billboard">
			<h2>Tell us what you like and we will give you <a href = "{{pathFor 'recommendations'}}">more!</a></h2>
			{{#if currentUser}}
				<a href="{{pathFor 'form'}}">Form</a>
			{{/if}}
		</div>
		</main>
		<div class="wrapper col3">
  			<div id="gallery">
    			<ul>
      				<li class="placeholder" style="background-image:url('/assets/img/header4.jpg');">Image Holder</li>
      				<li><a class="swap" href="#">
      					<img src="/assets/img/india.jpg" alt="" />
      					<span><img src="/assets/img/india.jpg" width="950" height="370" alt="" />
      					</span>
      				</a></li>
      				<li><a class="swap" href="#"><img src="/assets/img/sa.jpeg" alt="" />
      					<span><img src="images/teams/sa.jpeg" width="950" height="370" alt="" /></span>
      	  			</a></li>
      				<li><a class="swap" href="#"><img src="/assets/img/westindies.jpg" alt="" />
      				<span><img src="images/teams/westindies.jpg" width="950" height="370" alt="" /></span>
      				</a></li>
      				<li><a class="swap" href="#"><img src="/assets/img/australia.jpg" alt="" /><span>
      				<img src="/assets/img/australia.jpg" width="950" height="370" alt="" /></span>
      				</a></li>
      				<li class="last"><a class="swap" href="#"><img src="/assets/img/pakistan.jpg" alt="" />
      					<span><img src="/assets/img/pakistan.jpg" width="950" height="370" alt="" /></span>
      				</a></li>
    
    			</ul>
  			</div>
		</div>
		<div class="wrapper col4">
  			<div id="services">
    			<ul>
      				<li><a href="#"><strong>Sachin Tendulkar</strong><img src="/assets/img/sachin.jpg" alt="" /></a></li>
      				<li><a href="#"><strong>MS Dhoni</strong><img src="/assets/img/dhoni.jpg" alt="" /></a></li>
      				<li><a href="#"><strong>ABD</strong><img src="/assets/img/abd.jpg" alt="" /></a></li>
      				<li class="last"><a href="#"><strong>Dale Steyn</strong><img src="/assets/img/steyn.jpg" alt="" /></a></li>
      				<li><a href="#"><strong>S.Afridi</strong><img src="/assets/img/afridi.jpg" alt="" /></a></li>
      				<li><a href="#"><strong>Sunil Narine</strong><img src="/assets/img/narine.jpg" alt="" /></a></li>
     				<li><a href="#"><strong>R.Ponting</strong><img src="/assets/img/ponting.jpg" alt="" /></a></li>
      				<li class="last"><a href="#"><strong>Virat Kohli</strong><img src="/assets/img/kohli.jpg" alt="" /></a></li>
    			</ul>
    			<br class="clear" />
  			</div>
		</div>
		<div class="wrapper col6">
  			<div id="footer">
    			<div id="contactform">
      				<h2>Give Us Your Feedback !</h2>
      				<form action="#" method="post">
        				<fieldset>
          					<legend>Contact Form</legend>
          					<label for="fullname">Name:
            					<input id="fullname" name="fullname" type="text" value="" />
          					</label>
          					<label for="emailaddress" class="margin">Email:
            					<input id="emailaddress" name="emailaddress" type="text" value="" />
          					</label>
          					<label for="message">Message:<br />
            					<textarea id="message" name="message" cols="40" rows="4"></textarea>
          					</label>
          					<p><input id="submitform" name="submitform" type="submit" value="Submit" />&nbsp;
            					<input id="resetform" name="resetform" type="reset" value="Reset" />
          					</p>
        				</fieldset>
      				</form>
    			</div>
    		</div>
    	</div>
    </body>                              

	
</template>	